.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
     color: purple;
     font-family: Open Sans;
}
.page-header {
    background-color: #343A40;
}

.audit-lg {
    color: purple;
    font-weight: bolder;
    font: ultra-condensed 700 Open Sans;
    font-size: 44px;
    margin-top: 1px;
}

.flix-lg {
    color: #222;
    font-weight: bolder;
    font: ultra-condensed 700 Open Sans;
    font-size: 44px;
    margin-left: -3px;
    margin-right: 1em;
}